{
  "defaultHomeserver": {{ hydrogen_config_defaultHomeserver | to_json }},
  "homeserverList": {{ hydrogen_config_homeserverList | to_json }},
  "allowCustomHomeservers": {{ hydrogen_config_allowCustomHomeservers | to_json }},
  "featuredCommunities": {
    "spaces": {{ hydrogen_config_featuredCommunities_spaces | to_json }},
    "rooms": {{ hydrogen_config_featuredCommunities_rooms | to_json }},
    "servers": {{ hydrogen_config_featuredCommunities_servers | to_json }},
    "openAsDefault": {{ hydrogen_config_featuredCommunities_openAsDefault | to_json }}
  }
}
